<div class="body">
  <mat-card class="account" *ngIf="direction !== undefined">
    <div style="text-align:center">
      <section class="header">
        <h4>Your address is:</h4>
        <h1>{{ direction }} </h1>
        <h4>Balance:</h4>
        <h5>{{ balance }} ETH</h5>
      </section>
    </div>

  </mat-card>
</div>
<div class="body" *ngIf="direction == undefined">

  <mat-card class="account">

    <div style="text-align:center">
      <section class="header">
        <h3> Click connect account to connect the wallet provider </h3>
        <button mat-raised-button color="accent" class="big-round-shape-button" (click)="connectAccount()"> Connect Account</button>
      </section>
    </div>

  </mat-card>
</div>
